<footer style="background-color: #ffcd39">
  <div class="container text-center mt-5 p-3 container-footer">
    <div class="sosmed">
      <a href="http://www.linkedin.com/donny-marsahid">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="http://facebook.com/donymarsahid"><i class="fab fa-facebook"></i></a>
      <a href="http://instagram.com/donnymrshd"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="text-muted" style="color: rgb(31, 31, 31) !important; font-weight: 600">
      &copy;2021
      <a href="http://instagram.com/donnymrshd" class="text-muted" style="font-weight: 600; text-decoration: none; color: rgb(31, 31, 31) !important"> Donny Marsahid </a>
    </p>
    <div class="code">
      <a href="https://dribble.com/"><i class="fab fa-dribbble"></i></a>
      <a href="https://github.com/donnymarsahid"><i class="fab fa-github"></i></a>
    </div>
  </div>
</footer>
 <!-- footer -->
 <script>
    var rupiah = document.getElementById('rupiah');
    rupiah.addEventListener('keyup', function (e) {
      rupiah.value = formatRupiah(this.value);
    });
    function formatRupiah(angka, prefix) {
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
        split = number_string.split(','),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if (ribuan) {
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }

      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : rupiah ? +rupiah : '';
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>